body,
html,
#root {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f6fa !important;
  position: relative;
}
.App {
  width: 45rem;
  min-height: 45rem;
  margin-top: 1rem !important;
}
* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media only screen and (max-width: 750px) {
  .App {
    width: 35rem;
  }
}
@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    padding: 1.5rem !important;
  }
}
