* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstPageContainer {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.startButton {
  width: 193px;
  height: 52px;
  background-color: #4d5b9e;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
}
.startButton:active {
  border: 2px inset;
}
.description {
  color: #293264;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.header {
  font-family: 'Karla';
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  color: #293264;
  margin-bottom: 7px;
}

/* Quiz Page*/
.quizpage--container {
  height: 95%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.question-container {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.question {
  height: 50%;
  color: #293264;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 16px;
}
.answers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}
.answer {
  background-color: white;
  border-radius: 10px;
  min-height: 25px;
  min-width: 80px;
  color: #293264;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #293264;
}
.answer:hover {
  background-color: #d6dbf5;
}
.check {
  width: 150px;
  height: 50px;
  background-color: #4d5b9e;
  color: white;
  border-radius: 10px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.check:active {
  border: 3px inset;
}
.control-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.results {
  color: #293264;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
}
@media only screen and (max-width: 660px) {
  .quizpage--container {
    width: 35rem;
  }
  .question {
    font-size: 14px;
  }
  .answer {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px) {
  .app {
    height: auto;
  }
  .quizpage--container {
    min-height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .question-container {
    min-height: 20%;
    margin-bottom: 2rem;
  }
  .question {
    height: 30%;
    margin-bottom: 0.5rem;
  }
  .answers {
    flex-direction: column;
    align-items: flex-start;
    height: 70%;
  }
  .answer {
    margin-top: 0.3rem;
    width: 100%;
  }
  .control-buttons {
    flex-direction: column;
  }
  .results {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-height: 1000px) {
  .quizpage--container {
    max-height: 70%;
  }
}
